# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# NOTE:
# If you use vercel postgres, download the vercel cli
# with `npm i -g vercel` and run `vercel link` to connect
# to the right project. Then run `vercel env pull .env`
# to pull the env variables for the project connected to
# the vercel postgres db.

# DB
POSTGRES_URL="postgresql://postgres:password@localhost:5432/conlang-dictionary"

# Auth (Clerk)
# https://clerk.com/docs/quickstarts/nextjs
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=clerk_public_key_here
CLERK_SECRET_KEY=clerk_secret_key_here
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard

# File Upload (uploadthing)
# https://uploadthing.com/docs/getting-started
UPLOADTHING_SECRET=your_uploadthing_secret_here
UPLOADTHING_APP_ID=your_uploadthing_app_id_here


# Error logging (Sentry)
SENTRY_AUTH_TOKEN=your_sentry_auth_token_here

# Analytics (Posthog)
# https://posthog.com/docs/libraries/next-js
NEXT_PUBLIC_POSTHOG_KEY="your_posthog_key_here"
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com

# Ratelimiting (Upstash)
UPSTASH_REDIS_REST_URL=your_upstash_redis_rest_url_here
UPSTASH_REDIS_REST_TOKEN=your_upstash_redis_rest_token_here
